springcore/.idea/*
springcore/target/*
springjdbc/.idea/*
springjdbc/target/*
springorm/.idea/*
springorm/target/*
springmvc/.idea/*
springmvc/target/*
springaop/.idea/*
springaop/target/*
springjavaconfig/.idea/*
springjavaconfig/target/*
